<div class="wrapper">
    <div class="page-header" style="background-image: url('./assets/img/lbck.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register bg-transparent">
                        <h3 class="title" style="color:white;">Ready to hop into the game?</h3>
                        <h5 class="description" style="color:white;">By registering on this website you will be able to join the game and get the latest news using the same credentials.</h5>
                        <a class="btn btn-danger" href="/#/register" >Register here </a>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 mr-auto ml-auto">
                    <div class="card card-register bg-transparent">
                        <h3 class="title" style="color:white;">Welcome</h3>
                        <form class="register-form " #loginForm="ngForm">
                            <label>Email</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                </div>

                                <input type="text" [(ngModel)]="email" name="email" class="form-control" placeholder="Email" (focus)="focus=true" required (blur)="focus=false">
                            </div>
                            <label>Password</label>
                            <div class="input-group form-group-no-border" [ngClass]="{'input-group-focus':focus1===true}">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">
                                        <i class="nc-icon nc-key-25"></i>
                                    </span>
                                </div>

                                <input type="password" [(ngModel)]="password" name="password" class="form-control" placeholder="Password" (focus)="focus1=true" required (blur)="focus1=false">
                            </div>
                            <button type="submit" class="btn btn-danger btn-block btn-round" (click)="login()" [disabled]="loginForm.form.invalid">Login</button>
                                <div *ngIf="incorrectInput" style="color:red; font-size:15px; font-weight:bold;"> Wrong email or password</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
