<div class="page-header" data-parallax="true" style="background-image: url('./assets/img/zombieBg.png');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h1>Zombie Raid</h1>
            <h3>You won't sleep for a week after playing this game</h3>
            <br />
            <a href="https://www.youtube.com/watch?v=Yn22OP8VYoE" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch Trailer</a>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center ">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">What is zombie raid?</h2>
                    <h5 class="description">A zombie apocalypse is coming, and one person makes the decision to fight them. They attack in raids that never stop, but this hero will do everything in his power to save the world.</h5>
                    <br>
                </div>
            </div>
            <br /><br />
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-diamond"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Smooth Experience</h4>
                            <p class="description">Our in-game user experience was well designed to allow you to have the smoothest possible game experience.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-bulb-63"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Tutorials</h4>
                            <p>Don't know how to play our game?<br> Our daily tutorials will be your guide</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Statistics</h4>
                            <p>You can review your gameplay performance by checking the statistics page which may help you to improve.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-globe"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Widely Compatible</h4>
                            <p>Our game can be installed on a wide range of devices, even the oldest ones and it will be smoothly playable</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Our Daily Tutorials</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div>
                            <a href="#avatar"><iframe width="350" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-category">How to register?</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                You can register to Zombie Raid using our website or our game, your credential will allow you to use them both, please watch the video for more details...
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div>
                            <a href="#avatar"><iframe width="350" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-category">How to play?</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                First you must click on play then to use the allowed controls to fight the zombies. Our conrols are simple and easy to use which makes it easier for most of the gamers to understand this game.
                               </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div>
                            <a href="#avatar"><iframe width="350" height="200" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe></a>
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-category">How is my score calculated?</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                Your score will get incremented by 1 everytime you kill a zombie. Fight till the end and rank on top of the leaderboard to win weekly prizes.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section  text-center">
        <div class="container">
            <h2 class="title">Game News</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div>
                            <img _ngcontent-vtb-c117="" src="assets/img/militia.png" alt="Rounded Image" class="img-rounded img-responsive">
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-category">Update v1.0.1</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                This update includes major bug fixes and better in-game user experience.We have also added a new map (Militia) and 3 new weapons (Rpg, shotgun, machine gun).
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div>
                            <img _ngcontent-vtb-c117="" src="assets/img/gl.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-category">Temporary vault</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                               The grenade launcher weapon was vaulted from the game due to an issue which makes the gsme crash. We are working to fix it and we will bring it back to the game soon.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-profile card-plain">
                        <div>
                            <img _ngcontent-vtb-c117="" src="assets/img/tr.jpg" alt="Rounded Image" class="img-rounded img-responsive">
                        </div>
                        <div class="card-block">
                            <a href="#paper-kit">
                                <div class="author">
                                    <h6 class="card-category">Upcoming Tournament</h6>
                                </div>
                            </a>
                            <p class="card-description text-center">
                                A tournament will be held the next week,rules and regulations will be announced soon.Rank in the top 100 leaderboards in the next 2 days to be invited to this tournament.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
