<div class="wrapper">
    <div class="section chat-content" style="background-image: url('./assets/img/hw.jpg');">
        <div class="motto text-center" style="color:white">
            <h1>Community Chat</h1>
            <h3>Your way to socialize with other gamers...</h3>
        </div>
            <div class="container" style="margin-top:20px;">
                <div class="chat-messages">
                    <div class="chat-messages-show-container" style="overflow:scroll; background-color:white; border-radius: 12px;" #scroll [scrollTop]="scroll.scrollHeight">
                        <ul *ngFor="let message of this.messages" class="chat-messages-show-list" id="message-list">
                            <app-message style="color:blue;" [message]="message"></app-message>
                        </ul>
                    </div>

                    <div class="chat-messages-create-container" style="background-color:white;border-radius: 0px 0px 12px 12px;">
                        <input type="text" [(ngModel)]="message.content" name="message" class="form-control chat-messages-create-input" (focus)="focus=true" required (blur)="focus=false">
                        <button class="chat-messages-create-button btn-rounded" (click)="SendMessage()"> Send </button>
                    </div>

                </div>

            </div>
        </div>
    </div>