.chat-messages-show-container{
    background: #c3c3c3;
    height: 500px;
    display: flex;
    flex-direction: column;
    overflow: auto;
 }
 .chat-messages-show-list {
    list-style-type:none;
    margin: 0;
    padding: 0;
 }
 .chat-messages-create-container{
    background: #616161;
    height: 100px;
    display: flex;
    justify-content: center;
 }
 .chat-messages-create-input {
    padding: 12px;
    margin: 29px 30px;
    flex:2
 }
.chat-messages-create-button {
    height: 50px;
    margin: auto 40px;
    width: 100px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    background-color: #51cbce;
    border-color: #51cbce;
    color: #FFFFFF;
    opacity: 1;
    filter: alpha(opacity=100);
    border-radius: 12px;
    border: none;
}
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
